<header>
    <div id="header-content">
      
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
     
    </div>
  
  </header>

  <div id="myNav" class="overlay" #myNav>

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <div class="overlay-content">
      <a href="#">Inicio</a>
      <a href="#">Buscador</a>
      <a href="#">Series TV</a>
      <a href="#">Películas</a>
      <a href="#">Mi lista</a>
      <a href="#">Mi perfil</a>
    </div>
  
  </div>
  
