li{
    list-style: none;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 1.2em;
}
   
#header-content
{
    padding: 0.2em 5%;
    background: rgb(0, 0, 0);
      color: aliceblue;
}

#cuerpo
{
  font-family:"Segoe UI";
  font-size: 1.5em;
}


#grupoPelis{
  display:inline-block;
  padding: 1em 1%;
}

#pelis{
  display: block;
}


#grupoSeries{
  display:inline-block;
  padding: 1em 1%;
}

#series{
  display: block;
}








.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 900px + 3em);
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: 1100px;
  width: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}
.slide-text{
	color: #fff;
	font-size: 40px;
	position: absolute;
	top: 80%;
	left: 2%;
}





#footer-content{
    padding: 1em 15%;
    color: aliceblue;
    font-size: 1.1em;
    line-height: 1.6em;
    display: block;
    background: rgb(0, 0, 0);
    font-family:"Segoe UI";
    
}
#footer-content a{
   text-decoration: none;
   color: aliceblue;
}
#footer-content a:hover, .overlay a:focus{
  color: rgb(159, 159, 159);
}

#footer-colum-1{
    width: 25%;
    display: inline-block;
    vertical-align: top;

}
#footer-colum-2{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
#footer-colum-3{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
#footer-colum-4{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#footer-bar{
   position: relative;
   top: 1em;
   height: 1.5em;
   background: rgb(0, 0, 0);
  
}
#myNav{
    font-family:"Segoe UI";
}

.overlay {
  
    height: 0%;
    width:100%;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #bfbfbf;
    display: block;
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }