<footer>
    <div id="footer-content">
      <div id="footer-bar"></div>
      <h2>¿Preguntas? Llama al 900 234 987</h2>
      <div id="footer-bar"></div>
      <div id="footer-colum-1">
        <ul>
          <li><a>Preguntas frecuentes</a></li>
          <li><a>Inversores</a></li>
          <li><a>Formas de ver</a></li>
          <li><a>Información corporativa</a></li>
          <li><a>Originales de Netflix</a></li>
        </ul>
      </div>
      <div id="footer-colum-2">
        <ul>
          <li><a>Centro de ayuda</a></li>
          <li><a>Empleo</a></li>
          <li><a>Términos de uso</a></li>
          <li><a>Contáctanos</a></li>
        </ul>
      </div>
      <div id="footer-colum-3">
        <ul>
          <li><a>Cuenta</a></li>
          <li><a>Canjear tarjetas regalo</a></li>
          <li><a>Privacidad</a></li>
          <li><a>Prueba de velocidad</a></li>
        </ul>
      </div>
      <div id="footer-colum-4">
        <ul>
          <li><a>Zona de prensa</a></li>
          <li><a>Comprar tarjetas regalo</a></li>
          <li><a>Preferencias de cookie</a></li> 
          <li><a>Avisos legales</a></li>
        </ul>
      </div>
    </div>
 
  </footer>